.card-body li a {
  text-decoration: none;
  color: #595c7e;
  font-family: bold;
}

.card-body li a:hover {
  color: #090909;
}

.pilih-mobil,
.penumpang {
  margin: 0 auto;
}

.margin-top {
  margin-top: 7rem;
}

/* BREAKPOINTS */
/* For large devices */
@media screen and (max-width: 992px) {
  .margin-top {
    margin-top: 6rem !important;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
